.ewHeaderRow
{
	display: none;
}

.ewSiteTitle
{
	display: none;
}

.ewFooterRow {
	position: fixed; 
	width: 100%;
	bottom:0;
}

.ewGridUpperPanel
{
	padding: 7px !important;
}

.ewSiteTitle
{
	display: none;
}

#flogin label
{
	display: none;
}

#flogin_options label
{
	display: inline;
}

#tbl_dbo_clientemaster
{
	display: none;
}

#tbl_walger_clientesmaster
{
	display: none;
}

.btn-detail
{
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  top: 0px;
  font-size: 11px !important;
  margin: 1px;
}

.ewListOptionBody
{
  padding: 0px !important;
}

.ewTableRow
{
  height: 26px !important;
}

.ewTableAltRow
{
  height: 26px !important;
}

.modal-content
{
	top: 20px
}

.greenCell
{
	background-color: #5CB85C;
	color: white;
}

.redCell
{
	background-color: #D9534F;
	color: white;
}

.ewTableRow:hover td
{
	color: black !important;
}

.ewTableAltRow:hover td
{
	color: black !important;
}

.dbo_cliente_detail_dbo_clientevtotransa
{
	display: none !important;
}

.ewListOptionHeader[data-name=detail_dbo_clientevtotransa]
{
	display: none !important;
}

.ewListOptionBody[data-name=detail_dbo_clientevtotransa]
{
	display: none !important;
}

.ewDetail
{
	display: none !important;
}

#xsr_1, #xsr_2
{
	float: left
}

#xsc_estado>label
{
	display: none;
}

#xsc_estado>.ewSearchOperator
{
	display: none;
}

.ewSearchPanel
{
	margin: 0px;
	padding: 0px;
}

.ewMessageDialog
{
	clear: both;
}

@media (max-width: 768px) {
	#estadoActualizacion, #navegacionGrupo0, #navegacionGrupo1
	{
		display: none !important;
	}
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }

    .ewToolbar
    {
    	display: none !important;
    }

    /* Ocultar links en vista de impresión */
    a[href]:after {
    	content: none !important;
    }

}

[data-name="detail_trama_tipos2Darticulos2Datributos"]
{
	display: none;
}

[data-name="detail_trama_atributos2Dvalores"]
{
	display: none;
}

.btw0_estado
{
	display: none !important;
}

select#y_estado
{
	display: none !important;
}

.displayNone
{
	display: none !important;
}

.ewBreadcrumbs
{
	float: left;
}

#navegacionGrupo0, #navegacionGrupo1, #navegacionGrupo2
{
	display: block;
}

#ewBreadcrumb1
{
	display: none !important;
}
